USE [QLD]
GO
/****** Object:  Table [dbo].[tbl_NGUOIDUNG]    Script Date: 11/28/2016 13:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_NGUOIDUNG](
	[TEN_DANG_NHAP] [varchar](20) NOT NULL,
	[MAT_KHAU] [varchar](20) NOT NULL,
	[TRANG_THAI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tbl_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TEN_DANG_NHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_NGUOIDUNG] ([TEN_DANG_NHAP], [MAT_KHAU], [TRANG_THAI]) VALUES (N'ADMIN', N'123456', N'ADMIN')
INSERT [dbo].[tbl_NGUOIDUNG] ([TEN_DANG_NHAP], [MAT_KHAU], [TRANG_THAI]) VALUES (N'CHUNGDC', N'123456', N'ADMIN')
INSERT [dbo].[tbl_NGUOIDUNG] ([TEN_DANG_NHAP], [MAT_KHAU], [TRANG_THAI]) VALUES (N'duc', N'123456', N'ADMIN')
/****** Object:  Table [dbo].[tbl_MONHOC]    Script Date: 11/28/2016 13:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_MONHOC](
	[MA_MON_HOC] [char](10) NOT NULL,
	[TEN_MON_HOC] [nvarchar](20) NULL,
	[TIN_CHI] [int] NULL,
	[HESO_GIUAKY] [float] NULL,
	[HESO_CUOIKY] [float] NULL,
 CONSTRAINT [PK_tbl_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MA_MON_HOC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_MONHOC] ([MA_MON_HOC], [TEN_MON_HOC], [TIN_CHI], [HESO_GIUAKY], [HESO_CUOIKY]) VALUES (N'Java01    ', N'JavaNangCao1', 3, 4, 4)
INSERT [dbo].[tbl_MONHOC] ([MA_MON_HOC], [TEN_MON_HOC], [TIN_CHI], [HESO_GIUAKY], [HESO_CUOIKY]) VALUES (N'MH13      ', N'TOAN TIN 2', 3, 0.3, 0.7)
INSERT [dbo].[tbl_MONHOC] ([MA_MON_HOC], [TEN_MON_HOC], [TIN_CHI], [HESO_GIUAKY], [HESO_CUOIKY]) VALUES (N'MH14      ', N'TIENG ANH 3', 3, 0.4, 0.6)
/****** Object:  Table [dbo].[tbl_LOP]    Script Date: 11/28/2016 13:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LOP](
	[MA_LOP] [nchar](20) NOT NULL,
	[TEN_LOP] [nvarchar](20) NULL,
	[TEN_KHOA] [nvarchar](30) NULL,
	[NIEN_KHOA] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tbl_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_LOP] ([MA_LOP], [TEN_LOP], [TEN_KHOA], [NIEN_KHOA]) VALUES (N'IT13B               ', N'IT13B', N'IT', N'2014-2019')
INSERT [dbo].[tbl_LOP] ([MA_LOP], [TEN_LOP], [TEN_KHOA], [NIEN_KHOA]) VALUES (N'SIE-LTU13B          ', N'LTU13B', N'Infomation Technology', N'2014-2019')
INSERT [dbo].[tbl_LOP] ([MA_LOP], [TEN_LOP], [TEN_KHOA], [NIEN_KHOA]) VALUES (N'TH15A               ', N'CDTH15_A', N'CNTT', N'2014-2017')
/****** Object:  Table [dbo].[tbl_SINHVIEN]    Script Date: 11/28/2016 13:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_SINHVIEN](
	[MA_SINH_VIEN] [nchar](20) NOT NULL,
	[TEN_SINH_VIEN] [nvarchar](50) NULL,
	[GIOI_TINH] [bit] NULL,
	[NGAY_SINH] [date] NULL,
	[QUE_QUAN] [nvarchar](50) NULL,
	[SDT] [varchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MA_LOP] [nchar](20) NULL,
 CONSTRAINT [PK_tbl_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MA_SINH_VIEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_SINHVIEN] ([MA_SINH_VIEN], [TEN_SINH_VIEN], [GIOI_TINH], [NGAY_SINH], [QUE_QUAN], [SDT], [EMAIL], [MA_LOP]) VALUES (N'20148320            ', N'Nguyễn Thanh Đức', 1, CAST(0x0C1E0B00 AS Date), N'Hà Nội1', N'01696431995', N'ntd0021995@gmail.com', N'SIE-LTU13B          ')
INSERT [dbo].[tbl_SINHVIEN] ([MA_SINH_VIEN], [TEN_SINH_VIEN], [GIOI_TINH], [NGAY_SINH], [QUE_QUAN], [SDT], [EMAIL], [MA_LOP]) VALUES (N'SV01                ', N'DAT', 1, CAST(0x541E0B00 AS Date), N'HA NOI', N'123', N'DAT@GMAIL.COM', N'TH17                ')
INSERT [dbo].[tbl_SINHVIEN] ([MA_SINH_VIEN], [TEN_SINH_VIEN], [GIOI_TINH], [NGAY_SINH], [QUE_QUAN], [SDT], [EMAIL], [MA_LOP]) VALUES (N'SV02                ', N'TUNG', 1, CAST(0x101D0B00 AS Date), N'HAI DUONG', N'1231', N'TUNG@GMAIL.COM', N'TH15A               ')
/****** Object:  Table [dbo].[tbl_DIEM]    Script Date: 11/28/2016 13:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_DIEM](
	[MA_SINH_VIEN] [nchar](20) NULL,
	[MA_MON_HOC] [char](10) NULL,
	[DIEM_GIUA_KY] [float] NULL,
	[DIEM_CUOI_KY] [float] NULL,
	[DIEM_TONG_KET] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_DIEM] ([MA_SINH_VIEN], [MA_MON_HOC], [DIEM_GIUA_KY], [DIEM_CUOI_KY], [DIEM_TONG_KET]) VALUES (N'SV04                ', N'MH3       ', 9, 9, NULL)
INSERT [dbo].[tbl_DIEM] ([MA_SINH_VIEN], [MA_MON_HOC], [DIEM_GIUA_KY], [DIEM_CUOI_KY], [DIEM_TONG_KET]) VALUES (N'SV05                ', N'MH2       ', 8, 8, NULL)
INSERT [dbo].[tbl_DIEM] ([MA_SINH_VIEN], [MA_MON_HOC], [DIEM_GIUA_KY], [DIEM_CUOI_KY], [DIEM_TONG_KET]) VALUES (N'SV05                ', N'MH3       ', 7, 7, NULL)
/****** Object:  ForeignKey [FK_tbl_DIEM_tbl_MONHOC1]    Script Date: 11/28/2016 13:09:05 ******/
ALTER TABLE [dbo].[tbl_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DIEM_tbl_MONHOC1] FOREIGN KEY([MA_MON_HOC])
REFERENCES [dbo].[tbl_MONHOC] ([MA_MON_HOC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DIEM] CHECK CONSTRAINT [FK_tbl_DIEM_tbl_MONHOC1]
GO
/****** Object:  ForeignKey [FK_tbl_DIEM_tbl_SINHVIEN]    Script Date: 11/28/2016 13:09:05 ******/
ALTER TABLE [dbo].[tbl_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DIEM_tbl_SINHVIEN] FOREIGN KEY([MA_SINH_VIEN])
REFERENCES [dbo].[tbl_SINHVIEN] ([MA_SINH_VIEN])
GO
ALTER TABLE [dbo].[tbl_DIEM] CHECK CONSTRAINT [FK_tbl_DIEM_tbl_SINHVIEN]
GO
/****** Object:  ForeignKey [FK_tbl_SINHVIEN_tbl_LOP]    Script Date: 11/28/2016 13:09:05 ******/
ALTER TABLE [dbo].[tbl_SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SINHVIEN_tbl_LOP] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[tbl_LOP] ([MA_LOP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_SINHVIEN] CHECK CONSTRAINT [FK_tbl_SINHVIEN_tbl_LOP]
GO
